.square {
    border: solid 1px black;
    padding: 2rem;
}

/* .wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 4rem;
  } */

.walls{
    background-color: red;
}
.visited{
    background-color: green;
}

.target{
    background-color: gold !important;
}

.start{
    background-color: skyblue !important;
    color: white;
}

  
  